@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    column-gap: 25px;

}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: beige; 
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 1;
    pointer-events: none;
}

header{
    font-size: 30px;
    font-weight: 625;
    color: lightsalmon;
    text-align: center;

}
form{
    margin-top: 25px;
}
.form .field{
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;

}
.field input{
    outline: none;
    padding: 0 15px;
    height: 40px;
    width: 100%;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px;
    border: 1px soild#CACACA;
    border-radius: 5px;
}
.field input:focus{
    border-bottom-width: 2px;
}
.field button{
    height: 40px;
    width: 100%;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
}
.eye-icon{
    position: absolute;
    top: 25%;
    right: 10px;
    font-size: 18px;
    color: firebrick;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: beige;
    background-color: coral; 
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    
    background-color: rgb(245, 147, 111);
}
.form-link{
    text-align: center;
    margin-top: 10px;

}
.form-link span{
    font-size: 12px;
    font-weight: 400;
    color: black;
}
.form-link a{
    font-size: 12px;
    font-weight: 400;
    color: black;
}
.form a{
    color: lightsalmon;
    text-decoration: none;

}
.form a:hover{
    text-decoration: underline;
}
.line{
    height: 1px;
    width: 100%;
    position: relative;
    margin: 35px 0;
    background-color: crimson;

}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    right: 40%; 
    transform: translate(-50%,-50%);
    background-color: beige;
    color: #232836;
    padding: 0 15px;
}
@media screen and (max-width: 400px) {
    .form{
        padding: 15px 10px;
    }
}
html, body {
    height: 100%;
    width: 100%;
  }
  /* media quires */
  
  @media(max-width: 766px) {
      .book-apple-image {
          min-height: 300px;
      }
      .search-box {
          width: 90%;
          margin-left: 5%;
      }
      .movie-display-container {
          margin-left: 10%;
          width: 80%;
      }
  }
  @media(max-width: 500px) {
      .book-apple-image {
          min-height: 200px;
      }
      .form1-container {
          background-color: #ba356d;
          margin-left: 0;
          width: 100%;
      }
      .search-box {
          width: 100%;
          margin-left: 0%;
      }
      .movie-display-container {
          width: 100%;
          margin-left: 0;
      }
  
      .nav-toggle button:hover {
          background: #ba356d;
      }
  
      .nav-toggle {
          margin-top: 10px;
          margin-left: 10px;
      }
  
      .heading {
          background-color: #ba356d;
          color: #f3f3f6;
          min-height: 70px;
      }
  
      .heading-title {
          font-size: 28px;
          margin-top: 10px;
      }
  }
  @media(min-width: 992px) {
   
      .form-center {
          padding-top: 30px;
          min-height: 240px;
          margin: 0 auto;
          max-width: 50%;
      }
  }