{% extends "base.html" %}
{% block content %}
<div class ="form signup">
    <div class ="form-content">
        <header>SignUp</header>
        <form action="#" id = "signup-form">
            
            <div class="field input-field">
                <input type="email" placeholder="Email" class ="input">
            </div>
            <div class="field input-field">
                <input type="password" placeholder="Password" class ="password">
                <i class='bx bxs-hide eye-icon'></i>
            </div>
            <div class="field input-field">
                <input type="password" placeholder="Password" class ="password">
                <i class='bx bxs-hide eye-icon'></i>
            </div>
          
            <div class="field button-field">
                <button>SignUp</button>
            </div>
            

        </form>
        
        <div class="form-link">
            <span>Already have An Account? <a href="#" class=" link login-link">Login</a></span>
                
        </div> 
    </div>
    <div class="line"></div>
</div>
{% endblock %}